<ul class="entries">
  {%- for article in articles %}
  {%- set kind = "note" if "note" in article.data.tags else "post" %}
  <li>
    <span class="kind tag-{{ kind }}" role="img" aria-label="{{ kind }}" title="{{ kind }}"></span>
    <a class="title" href="{{ article.url }}">{{ article.data.title }}</a>
    <time datetime="{{ article.date | dateISO }}">{{ article.date | dateDot }}</time>
  </li>
  {%- endfor %}
</ul>
