---
layout: base
---

<article>
  <header class="post-header">
    <h1>{{ title }}</h1>
    {%- if description %}
    <p class="muted">{{ description }}</p>
    {%- endif %}
  </header>
  {{ content | safe }}
</article>
