---
layout: base
title: Gallery
---

<main>
  <h1>{{ title }}</h1>
  <div class="gallery-grid">
    {%- for image in collections.gallery -%}
    <div class="gallery-card">
      <img
        src="/{{ image.image_path }}"
        alt="Image of {{ image.title }}"
        class="pixel-art"
        loading="lazy"
        decoding="async"
        width="150"
        height="150"
      />
      <p class="gallery-title" style="font-size: 1.2rem; margin: 0">
        {{ image.title }}
      </p>
      <p
        class="gallery-alt"
        style="font-size: 0.8rem; color: rgba(0, 0, 0, 0.6); margin: 0"
      >
        {{ image.alt }}
      </p>
    </div>
    {%- endfor -%}
  </div>
</main>
