---
layout: base
title: Articles
---

<h1>Articles</h1>
{%- set articles = collections.articles | reverse %}
{%- include "entries.njk" %}

<h2>Tags</h2>
<ul class="tags">
  {%- for tag in collections.tags | sort %}
  <li><a class="tag-{{ tag | slug }}" href="/tags/{{ tag | slug }}/">{{ tag }}</a></li>
  {%- endfor %}
</ul>
