---
layout: base
title: All Post
---

<main>
  <h1>Article</h1>
  <ul class="post-list">
    {%- set previousDate = "" -%} {%- for article in collections.articles -%}
    <li class="post-item">
      <!-- タイトル -->
      <a href="{{ article.url }}">{{ article.data.title }}</a>

      <!-- 日付 -->
      {%- if previousDate != (article.date | dateMIN ) -%}
      <span class="post-date">{{ article.date | dateMIN }}</span>
      {%- set previousDate = article.date | dateMIN -%} {%- else -%}
      <span class="post-separator"> </span>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  <hr class="span" />

  <!-- タグ一覧セクション -->
  <section class="all-tags">
    <h1>Tag</h1>
    <ul class="tags">
      {%- for tag in collections.tags | sort -%}
      <li><a href="/tags/{{ tag | slug }}">{{ tag }}</a></li>
      {%- endfor -%}
    </ul>
  </section>
</main>
