---
layout: base
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/
eleventyComputed:
  title: "Tag: {{ tag }}"
---

<h1>Tag: {{ tag }}</h1>
{%- set articles = collections[tag] | reverse %}
{%- include "entries.njk" %}
<p><a href="/content/list/" class="link">← all articles</a></p>
